<%- include('partials/header') %>

<h1>Compose</h1>
<form method="post">
  <div class="form-group">
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" class="form-control" /><br />
    <label for="post">Post</label><br />
    <textarea rows="5" name="post" id="post" class="form-control"></textarea
    ><br />
  </div>
  <button class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer') %>
